[info]
title = The RAD: Making Racing Games Equivalently Accessible to People Who Are Blind
authors = Brian A. Smith, Shree K.Nayar
affiliation = Columbia University, Neu York, NY, USA

[main]
t1 = 視覚障碍者が主体感を保ったまま・効率よく体験できる音によるレーシングゲーム向けの支援機能を開発
t2 = 路肩までの距離に応じ，左右独立した音を再生することで誘導
t3 = 被験者実験(障碍者3名・目隠しした健常者12名)により既存のゲームに対しインタフェースの優位性を主張

[image]
i1 = "img1.png"
i2 = "img2.png"

